
<input type="text" name="c" [(ngModel)]="color">
{{getColor()}}
<h1 [style.color]="getColor()">{{title}}</h1>
<p>product works!</p>
<!--{{product.id}}
<p [style.color]="product.quantity==0?'red':'green'">{{product.name}}</p>
<p [class]="product.quantity==0?'titrered':'titregreen'">{{product.name}}</p>
{{product.price}}
{{product.quantity}}
{{product.category.id}}
{{product.category.type}}
<button [disabled]="product.quantity==0" (click)="buy(product)">Buy</button>
<br>
{{product2.id}}
<p [style.color]="product2.quantity==0?'red':'green'">{{product2.name}}</p>
<p [class]="product2.quantity==0?'titrered':'titregreen'">{{product.name}}</p>
{{product2.price}}
{{product2.quantity}}
{{product2.category.id}}
{{product2.category.type}}
<button [disabled]="product2.quantity==0" (click)="buy(product2)">Buy</button>!-->
<div *ngIf="affiche">
<table class="table">
    <tr>
        <td>Name</td>
        <td>Price</td>
        <td>Quantity</td>
        <td>Category</td>
        <td>Actions</td>
    </tr>
    <tr *ngFor="let p of products">
        <td>{{p.name}}</td>
        <td>{{p.price}}</td>
        <td>{{p.quantity}}</td>
        <td>{{p.category.type}}</td>
        <td><button [disabled]="p.quantity == 0" (click)="buy(p)">Buy</button></td>
        <td *ngIf="p.quantity == 0">Quantity epuisée</td>
    </tr>

</table>
</div>
<div *ngIf="!affiche">
    <p>Pas de produit</p>
</div>
