<form [formGroup]="formAccount" (ngSubmit)="addAccount()">
    <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Title</label>
        <input type="text" class="form-control" formControlName="title">
     
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Description</label>
            <input type="text" class="form-control" formControlName="description">
         
            </div>
            <div class="mb-3">
                <label for="exampleFormControlInput1" class="form-label">Image</label>
                <input type="text" class="form-control" formControlName="image">
             
                </div>
                <div class="mb-3">
                    <input type="submit" class="btn btn-success" value="Add">
                 
                    </div>
        </form>
